# Integer

In [1]:
x = 12

In [2]:
type(x)

int

# Float

In [3]:
y = 2.8

In [4]:
type(y)

float

# String

In [5]:
a = "Hello"

In [6]:
print(a)

Hello

In [7]:
type(a)

str

In [8]:
b = "Hello, World!"

In [13]:
print(a[1])

e

In [10]:
print(a[2:5])

llo

In [11]:
len(a)

5

# List

In [22]:
lst = ["apple", "cherry", [6,7,8],3.7,"hi"]

In [26]:
print(lst)

['apple', 'cherry', [6, 7, 8], 3.7, 'hi']

In [27]:
lst[2]

[6, 7, 8]

In [34]:
lst[-2]

2

In [36]:
del lst

In [38]:
lst = ["apple", "cherry", [6,7,8],3.7,"hi"]

In [39]:
lst[2]

[6, 7, 8]

In [40]:
lst[-2]

3.7

In [41]:
lst.append("welcome") #add an element at the end of list

In [42]:
lst

['apple', 'cherry', [6, 7, 8], 3.7, 'hi', 'welcome']

In [46]:
x = lst.copy() #to return the copy of list

In [47]:
x

['apple', 'cherry', [6, 7, 8], 3.7, 'hi', 'welcome']

In [51]:
lst.extend(x) #add element of the list  in current listing

In [52]:
lst

['apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome',
 'apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome']

In [54]:
lst.count("hi") #return the number of repeatation of specifide value

2

In [55]:
lst.index("apple") #return index of the first elementwith specified value

0

In [56]:
x.clear() #Removes all the elements from the list

In [57]:
x

[]

In [58]:
lst

['apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome',
 'apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome']

In [59]:
lst.insert(0, "banana") #add element at specified position

In [60]:
lst #banana added in list

['banana',
 'apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome',
 'apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome']

In [61]:
lst.pop(8) #removes the element from specified position

'cherry'

In [62]:
lst #cherry remove from list

['banana',
 'apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome',
 'apple',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome']

In [63]:
lst.remove("hi") #removes the element from specified values

In [64]:
lst #hi removed from list

['banana',
 'apple',
 'cherry',
 [6, 7, 8],
 3.7,
 'welcome',
 'apple',
 [6, 7, 8],
 3.7,
 'hi',
 'welcome']

In [73]:
lst

['b', 'c', 'd']

In [74]:
lst.reverse()

In [75]:
lst

['d', 'c', 'b']

In [76]:
lst.sort()

In [77]:
lst

['b', 'c', 'd']

# Tuples

In [78]:
tup = ("apple", "banana", "cherry")

In [79]:
tup

('apple', 'banana', 'cherry')

In [80]:
tup[1]

'banana'

In [81]:
tup[-1]

'cherry'

In [87]:
tup[0:2]

('apple', 'banana')

In [88]:
len(tup)

3

In [89]:
tup.count("apple") #Returns the number of times a specified value occurs in a tuple

1

In [90]:
tup.index("cherry") #Searche the tuple for a specified value and returns the position

2

# Dictonary

In [91]:
dit = {"my_name" : "Rohit", "family_members" : 4, "belong_to" : "Nasik"}

In [92]:
dit

{'my_name': 'Rohit', 'family_members': 4, 'belong_to': 'Nasik'}

In [93]:
dit["belong_to"] = "Pune" #to change the value

In [94]:
dit

{'my_name': 'Rohit', 'family_members': 4, 'belong_to': 'Pune'}

In [95]:
len(dit)

3

In [99]:
dit["dob"] = 1993 #to add an item in dictionary

In [100]:
dit

{'my_name': 'Rohit', 'family_members': 4, 'belong_to': 'Pune', 'dob': 1993}

In [101]:
dit.pop("dob") #to remove an item with specified key name

1993

In [102]:
dit

{'my_name': 'Rohit', 'family_members': 4, 'belong_to': 'Pune'}

In [103]:
dit.popitem() #removes last inserted item from dictionary

('belong_to', 'Pune')

In [104]:
dit

{'my_name': 'Rohit', 'family_members': 4}

In [105]:
x = dit.copy() #copy dictionary

In [106]:
x

{'my_name': 'Rohit', 'family_members': 4}

In [107]:
x.clear() #Removes all items and clear dictionary

In [108]:
x

{}

In [109]:
dit.update({'belong_to': 'Pune', 'dob': 1993}) #inserts the specified items to the dictionary

In [110]:
dit

{'my_name': 'Rohit', 'family_members': 4, 'belong_to': 'Pune', 'dob': 1993}

In [111]:
dit.values() # returns all the values from dictionary

dict_values(['Rohit', 4, 'Pune', 1993])

In [114]:
dit.setdefault("dob", 2000) #returns the value of specified key if the key doesnot exist, insert the key

1993

In [115]:
dit.get("my_name") #returns the value of the item with the specified key

'Rohit'

In [118]:
x = ('key1', 'key2', 'key3')
y = 0

z= dict.fromkeys(x,y) #create dictionary with specified keys and values
z

{'key1': 0, 'key2': 0, 'key3': 0}